<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AiMatch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="page-header">
        <h1 class="text-center">AiMatch Website</h1>
        {% if user.is_authenticated %}
        <form method="get" action="{% url 'logout' %}">
            <input type="submit" class="btn btn-primary" value="Logout">
        </form>
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>