{% extends "../base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h1>Login</h1>
<form method="post" class="form-group" action="{% url 'login' %}">
{% csrf_token %}
    <div class="form-group">
        <label>Username : </label>
        {{ form.username }}
        <!--
        <input type="text"
               class="form-control"
               id="username"
               placeholder="Enter username"
               value="{{ form.username }}">
               -->
        <small id="emailHelp" class="form-text text-muted">Be careful ! Case sensitive.</small>
    </div>
    <div class="form-group">
        <label>Password : </label>
        {{ form.password }}
        <!--
        <input type="text"
               class="form-control"
               id="password"
               placeholder="Enter password"
               value="{{ form.password }}">
               -->
        <small id="passwordHelp" class="form-text text-muted">Be careful ! Case sensitive.</small>
    </div>

<input type="submit" class="btn btn-primary" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>
<form method="get" action="{% url 'register' %}">
{% csrf_token %}
<input type="submit" class="btn btn-primary" value="Register">
</form>

{% endblock %}