{% extends "../base.html" %}
{% load staticfiles %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <img style="display: block; max-width:250px; max-height:250px; width: auto; height: auto;" src="{% static path %}"/>
    {{ image_form.as_p }}
    <button class="btn btn-primary" name="uploadbutton" type="submit">Upload</button>
</form>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <div class="form-row">
        <h3 class="col-md-12">About you {{name}}</h3>
        <div class="form-group col-md-2">
            <label>Gender</label>
            {{ profile_form.gender }}
        </div>
        <div class="form-group col-md-3">
            <label>Age</label>
            {{ profile_form.age }}
        </div>
        <div class="form-group col-md-3">
            <label>Going Out</label>
            {{ profile_form.go_out }}
        </div>

        <h3 class="col-md-12">About your characteristics</h3>
        <div class="form-group col-md-2">
            <label>Attractive</label>
            {{ profile_form.attr }}
        </div>
        <div class="form-group col-md-2">
            <label>Sincerity</label>
            {{ profile_form.sinc }}
        </div>
        <div class="form-group col-md-2">
            <label>Intelligence</label>
            {{ profile_form.intel }}
        </div>
        <div class="form-group col-md-2">
            <label>Fun</label>
            {{ profile_form.fun }}
        </div>
        <div class="form-group col-md-2">
            <label>Ambition</label>
            {{ profile_form.amb }}
        </div>

        <h3 class="col-md-12">About your hobbies</h3>
        <div class="form-group col-md-2">
            <label>Sports</label>
            {{ profile_form.sports }}
        </div>
        <div class="form-group col-md-2">
            <label>Exercise</label>
            {{ profile_form.exercise }}
        </div>
        <div class="form-group col-md-2">
            <label>Cooking</label>
            {{ profile_form.dining }}
        </div>
        <div class="form-group col-md-2">
            <label>Museums</label>
            {{ profile_form.museums }}
        </div>
        <div class="form-group col-md-2">
            <label>Art</label>
            {{ profile_form.art }}
        </div>
        <div class="form-group col-md-2">
            <label>Hiking</label>
            {{ profile_form.hiking }}
        </div>
        <div class="form-group col-md-2">
            <label>Gaming</label>
            {{ profile_form.gaming }}
        </div>
        <div class="form-group col-md-2">
            <label>Clubbing</label>
            {{ profile_form.clubbing }}
        </div>
        <div class="form-group col-md-2">
            <label>Reading</label>
            {{ profile_form.reading }}
        </div>
        <div class="form-group col-md-2">
            <label>Tv</label>
            {{ profile_form.tv }}
        </div>
        <div class="form-group col-md-2">
            <label>Theater</label>
            {{ profile_form.theater }}
        </div>
        <div class="form-group col-md-2">
            <label>Movies</label>
            {{ profile_form.movies }}
        </div>
        <div class="form-group col-md-2">
            <label>Concerts</label>
            {{ profile_form.concerts }}
        </div>
        <div class="form-group col-md-2">
            <label>Music</label>
            {{ profile_form.music }}
        </div>
        <div class="form-group col-md-2">
            <label>Shopping</label>
            {{ profile_form.shopping }}
        </div>
        <div class="form-group col-md-2">
            <label>Yoga</label>
            {{ profile_form.yoga }}
        </div>
    </div>
    <input class="btn btn-primary" name="submitbutton" type="submit" value="Find a match !">
</form>
{% endblock %}