{% extends "../base.html" %}
{% block content %}
{% load staticfiles %}
{% if match %}
<h2> You match with {{ user.username }} ! </h2>
<img style="display: block; max-width:250px; max-height:250px; width: auto; height: auto;" src="{% static path %}"/>
<br/>
{% else %}
<img style="width: 245px; height: 247px;" src="{% static path %}"/>
<p>Nobody wants to be with you...</p>
<p>Our algorithms are always right. Just give up already.</p>
<p>However if you're really desperate you can still try with the one who hates you the less: {{ user.username }}</p>
{% endif %}
<p>Compatibility: {{ compatibility }} %</p>
<br/>
<form method="get" action="{% url 'index' %}">
    <input type="submit" class="btn btn-primary" value="Retour au profil">
</form>
{% endblock %}